.statusBar {
    width: 100%;

    position: fixed;
    bottom: 16px;
    left: 16px;

    display: flex;
    justify-content: space-between;
    align-items: center'
}

.infoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.infoBlock > p > span {
    font-weight: bold;
}

.scaleBlock {
    width: 200px;
    position: fixed;
    bottom: 16px;
    right: 16px;
}

.scaleBlock.disabled {
	opacity: 0.5;
	pointer-events: none;
}