.statusBar {
    width: 100%;
    height: 50px;
    padding: 16px;

    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 2;

    display: flex;
    justify-content: space-between;
    align-items: center;
    
    cursor: default;

    background-color: #202020;
}

.infoBlock {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
}

.infoBlock > p > span {
    font-weight: bold;
}

.scaleBlock {
    width: 300px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.scaleBlock.disabled {
	opacity: 0.5;
	pointer-events: none;
}

.scaleBlock > p {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 210px;
    margin-right: 16px;
}